<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <cmail-header></cmail-header>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-grid">
          <form [formGroup] = "formCadastro" (ngSubmit)="handleCadastrarUsuario()">

            <cmail-form-group [campo]="formCadastro.get('nome')">
                <input formControlName="nome" autofocus required type="text" name="nome" cmailFormField >
                <!-- se tiver erros, então...-->
                <div *ngIf="formCadastro.get('nome').errors">
                  <!-- errors.required...-->
                  <span class="mdl-textfield__error" *ngIf="formCadastro.get('nome').errors.required">Informar o nome é obrigatório!</span>

                  <!-- errors.minlenght...-->
                  <span class="mdl-textfield__error" *ngIf="formCadastro.get('nome').errors.minlenght">Você preencheu {{ formCadastro.get('nome').errors.minlenght.actualLength}} caracteres
                    de {{ formCadastro.get('nome'.errors).minlenght.requiredLenght}}
                  </span>
            </cmail-form-group>

            <cmail-form-group [campo]="formCadastro.get('username')">
                <input formControlName="username" required type="text" name="username" cmailFormField>
                <span class="mdl-textfield__error">Informar um nome de usuário é obrigatório!</span>
            </cmail-form-group>

            <cmail-form-group [campo]="formCadastro.get('senha')">
                <input formControlName="senha" required type="password" name="senha" cmailFormField>
                <span class="mdl-textfield__error">Informar uma senha é obrigatório!</span>
            </cmail-form-group>

            <cmail-form-group [campo]="formCadastro.get('avatar')">
                <input formControlName="avatar" required type="text" name="avatar" cmailFormField>
            </cmail-form-group>
  
            <div class="mdl-card__actions">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                Cadastrar
              </button>
            </div>
  
          </form>
        </div>
      </div>
    </main>
  </div>